{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Noteapp{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'noteapp.ico' %}">
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
    {% tailwind_css %}
    {% block extra_css %}{% endblock %}
</head>
<body class="bg-gray-50 font-serif leading-normal tracking-normal">
    <!-- Toast Container -->
    <div id="toast" class="fixed bottom-4 left-1/2 transform -translate-x-1/2 bg-gray-800 text-white px-4 py-2 rounded-lg opacity-0 transition-opacity duration-200 pointer-events-none z-[9999]">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="w-full sm:w-11/12 md:w-3/4 lg:w-7/12 xl:w-11/20 mx-auto px-4 py-8">
        {% block content %}
        <!-- Header -->

        <!-- Default content here -->

        <!-- Footer -->
        {% endblock %}
    </div>
</body>
</html>